fastapi>=0.111.0,<0.113.0
hypercorn>=0.17.3
loguru==0.7.2
opentelemetry-api==1.27.0
opentelemetry-sdk==1.26.0
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-system_metrics
pandas<2.3.0
python-dotenv==1.0.1
pycaret>=3.3.2
pydantic>=2.7.0,<3.0.0
prophet>=1.1.5
lightgbm>=4.3.0
captum==0.7.0
PyJWT==2.9.0
flask>=2.2.5 # not directly required, pinned by Snyk to avoid a vulnerability
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
orjson>=3.9.15 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
scikit-learn>=1.4.0,<1.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=2.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
anyio~=4.4.0
joblib~=1.4.2
scipy~=1.14.1
sktime~=0.32.3
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
